$mobile: 768px;

.count-block-styles {
    font-family: "Montserrat", sans-serif;
    h5 {
        margin-bottom: 8px !important;
        font-size: 14px !important;
        padding-left: calc(10px + 1vw) !important;
    }
    .state-label{
        font-size: 12px;
        font-weight: 500;
    }
    .count-div {
        padding-left: calc(10px + 1vw) !important;
        padding-right: 10px;
        cursor: pointer;
        @media (max-width: $mobile){
            padding-left: 0 !important;
            margin-bottom: -9px;
            margin-top: -7px;
        }
    }
    .count-single-card {
        margin-right: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        letter-spacing: 0.04em;
        font-weight: bold;
    }
    h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        @media (max-width:768) {
            font-size: calc(14px - (26 - 14) * ((100vw - 300px) / (1600 - 300)));
        }
    }
    .count-box {
        border: 12px solid;
    }
    .count-underline{
        width: 100%;
        height: 2px;
        background-color: red;
        border-radius: 5px;
        margin-top: 5px;
    }
    .count-number{
        @media (max-width: $mobile) {
            color: black;
        }
    }
}
