.count-block-styles {
    font-family: "Montserrat", sans-serif;
    h5 {
        margin-bottom: 8px !important;
        font-size: 14px !important;
        margin-left: 24px;
    }
    .count-div {
        margin-left: 24px;
        margin-right: 0px;
        cursor: pointer;
    }
    .count-single-card {
        margin-right: 10px;
    }
    h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        letter-spacing: 0.04em;
        font-weight: bold;
    }
    h6 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    .count-box {
        border: 12px solid;
    }
}
