.startup-list-styles {
    font-family: "Montserrat", sans-serif;
    .startup-heading {
        font-weight: 600;
        margin-bottom: 25px;
    }
    .start-up-card {
        border-radius: 4px;
        padding: 13px;
        padding-right: 0;
        padding-bottom: 13px;
        width: 48.6%;

        .w-60-h-60{
            width: 60px !important;
            height: 60px !important;
        }
    }
    .company-title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 12px;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        // text-transform: uppercase;
    }
    .stage-sector-div {
        margin-bottom: 12px;
    }
    .start-up-location {
        font-size: small;
    }
}
