.btn-icon-handler {
  border: 2px solid #0177fa;
  box-sizing: border-box;
  border-radius: 4px;
  width: 47px;
  height: 36px;
  margin-right: 12px;
  &:hover {
    color: white;
  }
  &:not(.bg-active):hover {
    color: black;
  }
}

.unselected-list-card-light {
  background: #f8f8f8 !important;
}

.rc-tooltip {
  font-weight: 500;
  font-size: 14px !important;
}
.rc-tooltip-arrow {
  bottom: -5px;
  margin-left: -6px;
  border-width: 6px 0px 6px 6px;
  border-top-color: #0177fa !important;
}
.rc-tooltip-inner {
  height: 29px;
  padding: 0 !important;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 6px !important;
  min-height: 29px !important;
  border: 2px solid #0177fa !important;
  opacity: 1 !important;
}
.city-tooltip .rc-tooltip-inner {
  height: 29px;
  padding-right: 32px !important;
  opacity: 1 !important;
}