@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";

body {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.btn-primary,
.bg-primary {
  background-color: #0177fa;
}
.h-65 {
  height: 65vh !important;
  width: 100% !important;
}
.rc-tooltip {
  border-radius: 6px !important;
  opacity: 1 !important;
}

.border-black-2px {
  border: 2px solid black;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.border-black-1px {
  border: 1px solid black;
}
.f-14px {
  font-size: 14px;
}

.p-16px {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.radius-10 {
  border-radius: 10px !important;
  overflow: hidden;
}
.font-bold {
  font-weight: bold;
}
.font-12px {
  font-size: 12px;
}
.font-Mont {
  font-family: "Montserrat";
}
.radius-5 {
  border-radius: 5px !important;
  overflow: hidden;
}

.shadow-small-2 {
  box-shadow: 0px 0px 10px rgb(1 119 250 / 50%) !important;
}

.light-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.light-search-data-table {
  box-shadow: 0px 0px 2px rgb(0 0 0 / 8%) !important;
}

.dark-search-data-table {
  border: 1px solid #5b5881;
}

.shadow-small-3 {
  box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.25) !important;
}

.gradient-bar-map {
  
  width: 175px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  right: 2.1rem;
  top: 0px;
}

.min-gradient-bar {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
}

.max-gradient-bar {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
}

tr {
  border-radius: 0px !important;
  border: 0px solid #8a8a8a;
}

// thead {
//   tr:first-child {
//     border: 1px solid #8a8a8a;
//   }

.light-data-table-header {
  border-radius: 5px !important;
  border: 1px solid #8a8a8a;
}

.dark-data-table-header {
  border-radius: 5px !important;
  border: 1px solid #5b5881;
}

// }

.font-poppins {
  font-family: "Poppins";
}

.bg-wrapper {
  background-color: none !important;
  background: linear-gradient(180deg, #fafbff 0%, #ffff 100%) !important;
  background-size: cover;
  background-repeat: no-repeat !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-400 {
  font-weight: 400;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

// .btn:active{
//   color: white !important;
// }

// .btn:hover:not(dark){
//   color: white !important;
// }

.header-cell {
  width: 11.3%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  white-space: pre-wrap;
}
.header-cell-state {
  width: 21%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}
.header-cell-state-2 {
  width: 21%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}
.header-cell-state-body {
  width: 21%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}
.header-cell-2 {
  width: 16.19%;
  padding: 10px;
  padding-left: 0px;
  padding-right: 0;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
}

.w-49-h-250px {
  width: 49%;
  height: 250px;
}

.bg-grey {
  background: #f1f1f1;
}

tbody {
  tr {
    td:first-child {
      background: white;
    }
  }
}

.font-14px {
  font-size: 14px !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: none !important;
}

.font-15px {
  font-size: 15px;
}

.font-13px {
  font-size: 13px;
}

.font-family-Mont {
  font-family: "Montserrat";
}

.rc-tooltip-arrow-inner {
  bottom: 3px !important;
}

.mt-2-5 {
  margin-top: 0.7rem !important;
}
.me-2-5 {
  margin-right: 0.7rem !important;
}

.search-bar-placeholder::-webkit-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}
.search-bar-placeholder::-moz-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}
.search-bar-placeholder::-ms-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}

.search-bar-placeholder-data-table::-webkit-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
}
.search-bar-placeholder-data-table::-moz-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
}
.search-bar-placeholder-data-table::-ms-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 400;
}

.search-bar-left::-webkit-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}
.search-bar-left::-moz-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}
.search-bar-left::-ms-input-placeholder {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
}

.shadow-small {
  box-shadow: 0px 0px 10px rgba(1, 119, 250, 0.19) !important;
}

.w-60 {
  width: 60% !important;
}

.w-20 {
  width: 20% !important;
}

.accordion-button {
}

.font-mont-data-table {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.theme-1{
  .background-color-theme{
    background-color: #0177FA !important;
    border-color: #0177FA !important;
  }
  .text-theme{
    color: #0177FA !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #0177fa 0%, #ecf5ff 100%);
  }
}

.theme-2{
  .background-color-theme{
    background-color: #ED8E00 !important;
    border-color: #ED8E00 !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #0177fa 0%, #ecf5ff 100%);
  }
}

.theme-3{
  .background-color-theme{
    background-color: #ED8E00 !important;
    border-color: #ED8E00 !important;
  }
  .text-theme{
    color: #ED8E00 !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #ED8E00 0%, #ecf5ff 100%);
  }
}

.theme-4{
  .background-color-theme{
    background-color: #7838E0 !important;
    border-color: #7838E0 !important;
  }
  .text-theme{
    color: #7838E0 !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #7838E0 0%, #ecf5ff 100%);
  }
}

.theme-5{
  .background-color-theme{
    background-color: #BDAA00 !important;
    border-color: #BDAA00 !important;
  }
  .text-theme{
    color: #BDAA00 !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #BDAA00 0%, #ecf5ff 100%);
  }
}

.theme-6{
  .background-color-theme{
    background-color: #CB3535 !important;
    border-color: #CB3535 !important;
  }
  .text-theme{
    color: #CB3535 !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #CB3535 0%, #ecf5ff 100%);
  }
}

.theme-7{
  .background-color-theme{
    background-color: #00AD11 !important;
    border-color: #00AD11 !important;
  }
  .text-theme{
    color: #00AD11 !important;
  }
  .gradient-bar-map{
    background: linear-gradient(270deg, #00AD11 0%, #ecf5ff 100%);
  }
}